trigger:
- master

pool:
  vmImage: 'macOS-latest'

steps:
- task: DownloadSecureFile@1
  name: "rubyGemsCredentials"
  inputs:
    secureFile: 'credentials'

- task: Bash@3
  displayName: 'Install rbenv'
  inputs:
    targetType: 'inline'
    script: |
      brew update
      brew install rbenv
      # echo 'eval "$(rbenv init -)"' >> ~/.bashrc

- task: Bash@3
  displayName: 'Install JRuby'
  inputs:
    targetType: 'inline'
    script: |
      rbenv install jruby-9.2.5.0
      rbenv global jruby-9.2.5.0

- task: Bash@3
  displayName: 'Install bundler'
  inputs:
    targetType: 'inline'
    script: |
      eval "$(rbenv init -)"
      jruby -S gem install bundler
      
- task: Bash@3
  displayName: 'Install dependencies'
  inputs:
    targetType: 'inline'
    script: |
      eval "$(rbenv init -)"
      jruby -S bundle install

- task: Bash@3
  displayName: 'Run tests'
  inputs:
    targetType: 'inline'
    script: |
      eval "$(rbenv init -)"
      jruby -S bundle exec rspec --format RspecJunitFormatter  --out test-results.xml

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'test-results.xml'
    testRunTitle: 'Rspec'

- task: Bash@3
  displayName: 'Build gem'
  inputs:
    targetType: 'inline'
    script: |
      eval "$(rbenv init -)"
      jruby -S gem build logstash-output-newrelic.gemspec

- task: Bash@3
  displayName: 'Publish gem to RubyGems'
  inputs:
    targetType: 'inline'
    script: |
      eval "$(rbenv init -)"
      mv $(rubyGemsCredentials.secureFilePath) ~/.gem/credentials
      sudo chmod 600 ~/.gem/credentials
      jruby -S gem push logstash-output-newrelic-*.gem
    
